* {
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* navbar box1 */

.nav_logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(/Img-File/logo2.png);
  width: 100px;
  height: 50px;
  background-size: cover;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

/* navbar box2 */

.deliver {
  font-size: 12px;
  color: #cccccc;
  margin-left: 18px;
}
.add-icon {
  display: flex;
  align-items: center;
}

/* navbar box3 */

.search-bar {
  width: 650px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
}
#all {
  height: 100%;
  width: 53px;
  text-align: center;
  background-color: #e6e6e6;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-input {
  font-size: 15px;
  width: 100%;
  border: none;
}

.search-icon {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.search-bar:hover {
  border: 2px solid orange;
}

/* Navbar box 4 */

.sign-in {
  font-size: 12px;
}

.nav-second {
  font-size: 14px;
  font-weight: bold;
}

/* navbar box5 */

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 14px;
  font-weight: 700;
}

/* panel  */

.panel {
  background-color: #222f3d;
  height: 39px;
  display: flex;
  align-items: center; /* is for vertically align */
  font-size: 14px;
  color: white;
}

/* panel box 1 */
.more-options p {
  display: inline; /*is used to put all the elements in one line inside the div  */
  width: 100%;
  margin-left: 15px;
}

/* panel box 2 */
.All {
  margin-left: 9px;
  width: 40px;
}

/* hero section */

.hero-section {
  background-image: url(Img-File/hero-image.jpg);
  height: 350px;
  background-size: cover;
}

/* Shopping section */

.shopping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url(Img-File/hero-background-image.jpg); 
  background-size: cover;
  height: 900px;
}

.box {
  margin-top: 20px;
  height: 425px;
  width: 23%;
  background-color: white;
}

.box-img {
  height: 300px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.content-box{
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.content-box a {
  text-decoration: none;
  color: #007185;
}

.foot-panel1{
  background-color: #37475a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  font-size: 13px;
}

.foot-panel2 {
  height:400px;
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

ul a {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #dddddd;
}

ul{
  margin-top: 30px;
}

.foot-panel3 {
  height: 70px;
  background-color: #222f3d;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-foot {
  background-image: url(Img-File/logo2.png);
  width: 100px;
  height: 50px;
  background-size: cover;
}

.foot-panel4 {
  background-color: #131a22; 
  height: 80px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.foot-panel4-content a {
  margin-right: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}